@keyframes animar {
    0%{
        background-image: url('../img/Camada2.png');
    }
    
    20%{
        background-image: url('../img/Camada3.png');
    }
    40%{
        background-image: url('../img/Camada4.png');
    }
    60%{
        background-image: url('../img/Camada2.png');
    }
    80%{
        background-image: url('../img/Camada3.png');
    }
    100%{
        background-image: url('../img/Camada4.png');
    }

}